
.cd-container {
  margin: 0px auto;
  padding: 0px;
}

#cd-main { 
  background: #3B3B3B;
  height: 430px;
}

.cd-content {
  padding: 10px 10px;
}

.cd-text {
  border-bottom: 1px solid #262626;
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: left;
}

.cd-text h2 {
  color: #E5E5E5;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 2px;
}

.cd-counter {
  background: #2C2C2C;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  min-height: 150px;
  text-align: center;
}

.cd-counter h3 {
  color: #E5E5E5;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#cd-countdown {
  color: #FFFFFF;
}

#cd-countdown span {
  color: #E5E5E5;
  font-size: 26px;
  font-weight: lighter;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}